In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import twitter
import re
import datetime

In [29]:
pd.options.display.max_rows=1000
pd.options.display.max_columns=1000

In [30]:
np.set_printoptions(threshold=np.inf)
pd.options.display.max_colwidth = 1000

In [31]:
Goodhart = pd.read_csv('Goodhart.csv')
Shapiro = pd.read_csv('Shapiro.csv')
Duke = pd.read_csv('Duke.csv')
Goodwin = pd.read_csv('Goodwin.csv')
Kaufman = pd.read_csv('Kaufman.csv')
Spencer = pd.read_csv('Spencer.csv')
Invictus = pd.read_csv('Invictus.csv')
Hitchens = pd.read_csv('Hitchens.csv')
Gorka = pd.read_csv('Gorka.csv')
Bannon = pd.read_csv('Bannon.csv')
Coulter = pd.read_csv('Coulter.csv')
Yiannopoulos = pd.read_csv('Yiannopoulos.csv')
Sailer = pd.read_csv('Sailer.csv')
Molyneux = pd.read_csv('Molyneux.csv')
Cernovich = pd.read_csv('Cernovich.csv')
Brimelow = pd.read_csv('Brimelow.csv')
Hopkins = pd.read_csv('Hopkins.csv')

In [36]:
def remove_name(df):
    name = list(df.handle[0].split())
    name.append(name[0]+name[1])
    df = df.dropna()
    #df.text = df.text.apply(lambda x : x.replace('#'))
    for n in name:
        df.text = df.text.apply(lambda x : x.lower().replace(n.lower(),''))
   
    return df

In [37]:
Goodhart = remove_name(Goodhart)
Shapiro = remove_name(Shapiro)
Duke = remove_name(Duke)
Goodwin = remove_name(Goodwin)
Kaufman = remove_name(Kaufman)
Spencer = remove_name(Spencer)
Invictus = remove_name(Invictus)
Hitchens = remove_name(Hitchens)
Gorka = remove_name(Gorka)
Bannon = remove_name(Bannon)
Coulter = remove_name(Coulter)
Yiannopoulos = remove_name(Yiannopoulos)
Sailer = remove_name(Sailer)
Molyneux = remove_name(Molyneux)
Cernovich = remove_name(Cernovich)
Brimelow = remove_name(Brimelow)
Hopkins = remove_name(Hopkins)

/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [38]:
Right = pd.concat([Goodhart, Shapiro, Duke, Goodwin, Kaufman, Spencer, Invictus, Hitchens, 
                   Bannon, Gorka, Coulter, Yiannopoulos, Sailer, Brimelow, Cernovich, 
                   Molyneux, Hopkins])
Right.shape

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

(48364, 7)

In [39]:
Right.handle.value_counts()

Steve Sailer         3238
Sebastian Gorka      3233
Ben Shapiro          3233
Katie Hopkins        3216
Eric Kaufmann        3215
Stefan Molyneux      3207
Peter Hitchens       3206
Mike Cernovich       3206
Matthew Goodwin      3204
David Goodhart       3199
Ann Coulter          3146
David Duke           3107
Richard Spencer      3004
Augustus Invictus    2921
Milo Yiannopoulos    2302
Peter Brimelow       1609
Steven Bannon         118
Name: handle, dtype: int64

In [40]:
Right['Political Orientation'] = 'Right'

In [41]:
Right.head()

,Unnamed: 0,created_at,handle,mined_at,retweet_count,text,tweet_id,Political Orientation
0,NaN,Sun May 05 08:56:59 +0000 2019,David Goodhart,2019-05-05 16:56:55.502040,14.0,"rt @allinbritain: allinbritain contributor, munira mirza in @telegraph on the sacking of noah carl at cambridge university and the rising i…",1.124961e+18,Right
1,NaN,Sun May 05 07:49:42 +0000 2019,David Goodhart,2019-05-05 16:56:55.502056,13.0,rt @spectator: the sacking of dr noah carl shows that academic freedom is being jettisoned for the sake of the affected feelings of an outr…,1.124944e+18,Right
2,NaN,Sun May 05 07:49:32 +0000 2019,David Goodhart,2019-05-05 16:56:55.502060,79.0,"rt @clairlemon: there are hundreds of names i still have to add to the noah carl petition, so if you don't see your name yet, don't panic.…",1.124944e+18,Right
3,NaN,Sat May 04 06:53:00 +0000 2019,David Goodhart,2019-05-05 16:56:55.502063,29.0,"rt @oxsoc: i'm not a great fan of quillette, but i've signed this because i believe it is important to take a principled stand especially w…",1.124568e+18,Right
4,NaN,Thu May 02 07:17:41 +0000 2019,David Goodhart,2019-05-05 16:56:55.502067,54.0,rt @epkaufm: until st edmunds and cambridge suffers reputational damage for this in excess of the minor damage they would have suffered in…,1.123849e+18,Right

In [42]:
Right.columns

Index(['Unnamed: 0', 'created_at', 'handle', 'mined_at', 'retweet_count',
       'text', 'tweet_id', 'Political Orientation'],
      dtype='object')

In [43]:
Right = Right.drop('Unnamed: 0', axis=1)

In [44]:
Right.to_csv('Right.csv', index=False)