In [123]:
import pandas as pd
import wikiquotes

In [124]:
pd.options.display.max_rows = 1000

In [125]:
def right_quotes(author, file_name):#, nationality):
    quotes = wikiquotes.get_quotes(author, 'english')
    csv = '.csv'
    df = pd.DataFrame({'Quotes': quotes,
                       'Author': author,
                       'Political Orientation': 'Right'})#,
#                       'Nationality': nationality})
    df.to_csv(file_name+csv, index=False)#, sep='\t',encoding='utf-8')
    return df

Peter Brimelow

In [126]:
Brimelow = right_quotes('Peter Brimelow', 'Brimelow')

Mike Cernovich

In [127]:
Cernovich = right_quotes('Mike Cernovich', 'Cernovich')

John Derbyshire

In [128]:
Derbyshire = right_quotes('John Derbyshire', 'Derbyshire')

Alex Jones

In [129]:
Jones = right_quotes('Alex Jones', 'Jones')

Stefan Molyneux

In [130]:
Molyneux = right_quotes('Stefan Molyneux', 'Molyneux')

Steve Sailer

In [131]:
Sailer = right_quotes('Steve Sailer', 'Sailer')

Richard Bertrand Spencer

In [132]:
Spencer = right_quotes('Richard Bertrand Spencer', 'Spencer')

Vox Day

In [133]:
Vox_Day = right_quotes('Vox Day', 'Vox_Day')

Curtis Yarvin

In [134]:
Yarvin = right_quotes('Curtis Yarvin', 'Yarvin')

Milo Yiannopoulos

In [135]:
Yiannopoulos = right_quotes('Milo Yiannopoulos', 'Yiannopoulos')

Ann Coulter

In [136]:
Coulter = right_quotes('Ann Coulter', 'Coulter')

Steve Bannon

In [137]:
Bannon = right_quotes('Steve Bannon', 'Bannon')

David Duke

In [138]:
Duke = right_quotes('David Duke', 'Duke')

Pat Buchanan

In [139]:
Buchanan = right_quotes('Pat Buchanan', 'Buchanan')

Paul Weyrich

In [140]:
Weyrich = right_quotes('Paul Weyrich', 'Weyrich')

Tomislav Sunić

In [141]:
Sunić = right_quotes('Tomislav Sunić', 'Sunić')

Sebastian Gorka

In [142]:
Gorka = right_quotes('Sebastian Gorka', 'Gorka')

Jason Kessler

In [143]:
Kessler = right_quotes('Jason Kessler', 'Kessler')

David Irving

In [144]:
Irving = right_quotes('David Irving', 'Irving')

Katie Hopkins

In [145]:
Hopkins = right_quotes('Katie Hopkins', 'Hopkins')

Arthur Kemp

In [146]:
Kemp= right_quotes('Arthur Kemp', 'Kemp')

Tommy Robinson

In [147]:
Robinson = right_quotes('Tommy Robinson', 'Robinson')

Raheem Kassam

In [148]:
Kassam = right_quotes('Raheem Kassam', 'Kassam')

Ted Malloch

In [149]:
Malloch = right_quotes('Ted Malloch', 'Malloch')

Jerome Corsi

In [150]:
Corsi = right_quotes('Jerome Corsi', 'Corsi')

Daniel Drezner

In [151]:
Drezner = right_quotes('Daniel Drezner', 'Drezner')

Lou Dobbs

In [152]:
Dobbs = right_quotes('Lou Dobbs', 'Dobbs')

Pamela Geller

In [153]:
Geller = right_quotes('Pamela Geller', 'Geller')

Robert Spencer

In [154]:
R_Spencer = right_quotes('Robert Spencer', 'R_Spencer')

Stephen Miller

In [155]:
Miller = right_quotes('Stephen Miller', 'Miller')

Tucker Carlson

In [156]:
Carlson = right_quotes('Tucker Carlson', 'Carlson')

Lew Rockwell

In [157]:
Rockwell = right_quotes('Lew Rockwell', 'Rockwell')

Karl Hess

In [158]:
Hess = right_quotes('Karl Hess', 'Hess')

Hans-Hermann Hoppe

In [159]:
Hoppe = right_quotes('Hans-Hermann Hoppe', 'Hoppe')

William Luther Pierce

In [160]:
Pierce = right_quotes('William Luther Pierce', 'Pierce')

Joel Pollak

In [161]:
Pollak = right_quotes('Joel Pollak', 'Pollak')

Matt Drudge

In [162]:
Drudge = right_quotes('Matt Drudge', 'Drudge')

Nicholas Wade

In [163]:
Wade = right_quotes('Nicholas Wade', 'Wade')

John R. Bolton

In [164]:
Bolton = right_quotes('John R. Bolton', 'Bolton')

Dinesh D'Souza

In [165]:
D_Souza = right_quotes('Dinesh D\'Souza', 'D_Souza')

In [166]:
D_Souza.shape

(26, 3)

In [167]:
Right = pd.concat([Irving, Kessler, Gorka, Sunić, Weyrich,Buchanan, Duke, Bannon, Coulter, Yiannopoulos, Yarvin, 
               Vox_Day, Spencer, Sailer, Molyneux, Jones, Derbyshire, Cernovich, Brimelow,
                  Hopkins, Kemp, Robinson, Kassam, Malloch, Corsi, Drezner, Dobbs, Geller,
                  R_Spencer, Miller, Carlson, Hess, Hoppe, Pierce, Pollak, Drudge, Wade, Bolton, D_Souza])

In [168]:
Right.shape

(584, 3)

In [169]:
Right.to_csv('right.csv', index=False)